/notting to be seen here don't cheat!🧐
//TODO: BUTTON to UMZUG
//TODO: BUTTON to REINIGUNG
//TODO: BUTTON to COMBINED

= link_to t('.moving'), new_moving_inquiry_path, class: "btn btn-primary btn-lg"
/ = link_to t('.cleaning'), new_cleaning_inquiry_path, class: "btn btn-secondary btn-lg"
/ = link_to t('.combined'), new_combined_inquiry_path, class: "btn btn-success btn-lg"
