h1 Editing combined_inquiry

== render partial: 'combined_inquiries/form', locals: {edit: true}

=> link_to 'Show', url_for(action: :show, id: @combined_inquiry)
'|
=< link_to 'Back', combined_inquiries_path
