.invoice-background {
    left: 0px;
    top: -1px;

    img {
        height: 842px;
        width: 595px;
    }
}

span.cls_002, div.cls_002 {
    font-size: 23.8px;
    color: rgb(147, 147, 147);
    font-weight: bold;
}

span.cls_003, div.cls_003 {
    font-size: 7.7px;
    font-weight: bold;
}

span.cls_004, div.cls_004 {
    font-size: 8.6px;
}

span.cls_005, div.cls_005 {
    font-size: 11.9px;
    font-weight: bold;
}

span.cls_006, div.cls_006 {
    font-size: 10.2px;
    font-weight: bold;
}

span.cls_007, div.cls_007 {
    font-size: 7.7px;
    font-weight: bold;
    font-style: italic;
}

span.cls_008, div.cls_008 {
    font-size: 7.7px;
    color: rgb(24, 24, 24);
    font-weight: bold;
    font-style: italic;
}

span.cls_009, div.cls_009 {
    font-size: 7.7px;
}
