/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */

// import the CSS framework
// Do not use *= require in Sass or your other stylesheets will not be able to access the Bootstrap mixins and variables.
@import "bootstrap";
// make all images responsive by default
img {
  @extend .img-fluid;
  margin: 0 auto;
}

// override for the 'Home' navigation link
.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral


// apply styles to HTML elements
// to make views framework-neutral
main {
  margin-top: 30px; // accommodate the navbar
}

body {
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}


#notice {
  color: green;
}

.field_with_errors {
  padding: 0px;
  // background-color: red;
  // display: table;
  @extend .form-control;
  @extend .is-invalid;
}
.custom_error_explanation{
  .list-group-item {
      position: relative;
      display: block;
      padding: 0.40rem 1.25rem;
      margin-bottom: -1px;
      background-color: #fff;
      border: 1px solid rgba(0, 0, 0, 0.125);
  }
  @extend .pb-1;
}

label {
  display: block;
}
#moving_inquiry_moving_date_1i,
#moving_inquiry_moving_date_2i,
#moving_inquiry_moving_date_3i,
#moving_inquiry_client_property_size{
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  height: 38px;
}

.translation_fallback {
  background-color: yellow;
}

.translation_missing {
  background-color: red;
}
